@page "/dildo"
@using Models
@using Data
@inject NavigationManager NavigationManager
<PageTitle>New Dildo</PageTitle>
<h1>Dildo Catalog</h1>
<h3>New Dildo</h3>

<div class="row">
    <div class="col-sm-4">
        <EditForm Model="@dildo" class="mb-5" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="name" class="form-label">Name :</label>
                <InputText id="name" @bind-Value="dildo.Name" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price :</label>
                <InputNumber id="price" @bind-Value="dildo.Price" class="form-control"></InputNumber>
            </div>
            <div class="mb-3">
                <label for="size" class="form-label">Size :</label>
                <InputNumber id="size" @bind-Value="dildo.Size" class="form-control"></InputNumber>
            </div>
            <div class="mb-3">
                <label for="expireDate" class="form-label">Expire Date :</label>
                <InputDate id="expireDate" @bind-Value="dildo.ExpireDate" class="form-control"></InputDate>
            </div>
            <div class="mb-3">
                <label for="material" class="form-label">Material :</label>
                <InputSelect id="material" @bind-Value="dildo.Material" class="form-select">
                    <option value="" selected="selected">Selecciona el material</option>
                    <option value="Plastico">Plastico</option>
                    <option value="Metal">Metal</option>
                    <option value="Madera">Madera</option>
                    <option value="Cristal">Cristal</option>
                    <option value="Silicon">Silicon</option>
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="color" class="form-label">Color :</label>
                <InputSelect id="color" @bind-Value="dildo.Color" class="form-select">
                    <option value="" selected="selected">Selecciona el color</option>
                    <option value="Rojo">Rojo</option>
                    <option value="Morado">Morado</option>
                    <option value="Blanco">Blanco</option>
                    <option value="Negro">Negro</option>
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Stock :</label>
                <InputNumber id="stock" @bind-Value="dildo.Stock" class="form-control"></InputNumber>
            </div>
            <button type="Submit" class="btn btn-primary" @onclick="HandleSubmit">Save</button>
            <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        </EditForm>
    </div>
</div>

@code {
    private Dildo dildo = new()
        {
            Name = string.Empty,
            Price = 0.0M,
            Size = 0.0M,
            ExpireDate = DateTime.UtcNow
        };

    private void HandleSubmit()
    {
        DildoClient.AddDildo(dildo);
        NavigationManager.NavigateTo("/");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
